* {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h5 {
  font-size: 24px;
  font-weight: bold;
}
header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #3f3f3f;
}
p {
  font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #afafaf;
}
.btn-restart {
  display: none;
}
#main-content {
  margin-top: 50px;
  flex: 1;
}
.outer-container {
  width: 1300px;
  margin: 0 auto;
}
.vertical-text {
  width: 0;
  word-wrap: break-word;
}
.character-cards img {
  height: 180px;
  object-fit: cover;
  overflow: hidden;
}
#character-select-row {
  display: flex;
  justify-content: space-between;
  margin: 45px 0;
}
.card-slot {
  display: flex;
  justify-content: center;
  flex: 1;
}
#character-fight-row {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  margin: 45px 0;
}
#cs-player {
  position: relative;
}
.player-card-tab {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  padding: 3px 3px 0 3px;
  top: -28px;
  left: 18.5px;
  font-size: 24px;
  background: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#cs-player .character-cards img{
  box-shadow: 0 -5px 5px white, 0 5px 5px white;
}
#cs-enemy {
  position: relative;
}
.enemy-card-tab {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  padding: 3px 3px 0 3px;
  top: -28px;
  right: 18.5px;
  font-size: 24px;
  color: white;
  background: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#cs-enemy  .character-cards img{
  box-shadow: 0 -5px 5px black, 0 5px 5px black;
}
#battle-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 2;
}
.scroll-contain {
  display: flex;
}
.battle-log {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5px;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
  background: #8f8f8f;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}
.log-data {
  width: 100%;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: left;
}
.luke-log {
  background: #007bff;
}
.boba-log {
  background: #28a745;
}
.obi-log {
  background: #6c757d;
}
.vader-log {
  background: #343a40;
}
.player-log {
  border-left: 5px solid white;
}
.enemy-log {
  text-align: right;
  border-right: 5px solid red;
}
.battle-actions {
  display: none;
  /* border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 2px black; */
}
.btn-show {
  display: inherit;
}
.show {
  display: flex;
}

#enemy-choice-row {
  display: flex;
  justify-content: space-between;
}
#enemy-choice-row .character-cards img{
  box-shadow: 0 -5px 5px red, 0 5px 5px red;
}
#cs1-opponent {
  position: relative;
}
#cs1-opponent .opponent-tag {
  position: absolute;
  width: 0;
  word-wrap: break-word;
  top: 25px;
  left: 25px;
  font-size: 30px;
  color: red;
}
